/* ログインページ*/

.login-body {
  font-family: "Noto Sans JP", sans-serif;

  background: 
     linear-gradient(120deg, #cc0cbc76, #a0869d8a),
    url("../image/gazou2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* フォーム全体（中央寄せ） */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: none;     
  padding: 0;           
  box-shadow: none;    
  border-radius: 0;     
}

/* 入力欄 */
.login-input {
  width: 280px;
  padding: 12px;
  border: 1.5px solid #90caf9;
  border-radius: 6px;
  font-size: 16px;
  background-color: #ffffffcc;
  transition: border-color 0.3s;
}



/* ログイン専用ボタン */
.login-submit-btn {
  width: 280px;
  padding: 12px;
  background-color: #FF4F02;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-submit-btn:hover {
  background-color: #cc3a00;
}


/* リンク */
.login-links {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.login-links a,
.login-links a:visited,
.login-links a:hover {
  color: #fff !important;
}



.login-links a:hover {
  text-decoration: underline;
}

/* メインタイトル（Item Note） */
.login-title-main {
  font-size: 42px;
  font-weight: 800;
  color: #ff4f02;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 1px;
}

/* サブタイトル（ログインページ） */
.login-title-sub {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  letter-spacing: 1px;
}


